modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["libev", "pango", "gdk-pixbuf", "libffi", "pkg-config"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Run"
author = 45170477
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[agent]
expertMode = true
